@model Lifeplanner.Models.SignInModel;


@{
    var navString = "";

    if (TempData["header"] == "Sign In")
    {
        navString = "signin";
    }
    if (TempData["header"] == "User not found")
    {
        navString = "SignUp";
    }
    if (TempData["header"] == "Sign Up")
    {
        navString = "SignUp";
    }
    if(TempData["header"] == "User already exists")
    {
        navString = "SignUp";
    }
}

<div class="main-signin-wrapper">

    <form asp-action="@navString" asp-controller="auth" method="post">

        <h1>
            @TempData["header"]
        </h1>

        <label>
            Username
        </label>

        <input asp-for="Username" type="text" placeholder="Enter username"/>
        <span asp-validation-for="Username"></span>

        <label>
            Password
        </label>

        <input asp-for="Password" type="password" placeholder="Enter password"/>
        <span asp-validation-for="Password"></span>

        @if(TempData["header"] != "Sign In"){
            <input class="sigin-btn" type="submit" value="Create a new account!"/>
            <span asp-validation-for="Password"></span>
        }
        else{
            <input class="sigin-btn" type="submit" value="Sign in"/>
            <span asp-validation-for="Password"></span>
        }

        @if(TempData["header"] == "Sign In"){
            <p>
                No account? <a asp-action="signupview" asp-controller="auth">Sign up!</a>
            </p>
        }
     
    </form>

</div>

