<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lifeplanner</title>
    <link rel="stylesheet" href="~/scss/styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body>
  
    <partial name="Partials/_Header.cshtml">

    <div class="main-container">

        <nav>
            <a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i></a>
            <a asp-controller="Home" asp-action="Create"><i class="fa-regular fa-square-plus"></i></a>
            <a asp-controller="Home" asp-action="Browse"><i class="fa-solid fa-folder"></i></a>
        </nav>

        <div class="wrapper-partials" role="main">
            @RenderBody()
        </div>
        
    </div>

    <footer>
            &copy; 2025 - Foodplanner</a>     
    </footer>

    <script src="https://kit.fontawesome.com/3742703543.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
