
@{

    Layout = "_Layout";

}


<div class="editor-main-wrapper">
    

        <div class="editor-add">

            <a>
                <i class="fa-regular fa-floppy-disk editoritems"></i>
            </a>

            <a>
                <i class="fa-regular fa-share-from-square editoritems"></i>
            </a>

            <a>
                <i class="fa-regular fa-circle-down editoritems"></i>
            </a>

            <a>
                <i class="fa-regular fa-trash-can editoritems"></i>
            </a>

            <span>
                Current: Adding Recipe...
            </span>
        
        </div>

        <div class="editor-filter">

            <div class="editor-text-undoredo">

                <i class="fa-solid fa-rotate-left editoritems"></i>

                <i class="fa-solid fa-rotate-right editoritems"></i>

                <i class="fa-solid fa-list-ul editoritems"></i>

            </div>

            <div class="editor-text-weight">
                <i class="fa-solid fa-italic editoritems"></i>

                <i class="fa-solid fa-bold editoritems"></i>

                <i class="fa-solid fa-underline editoritems"></i>
            </div>

            <div class="editor-text-alignment">
                <i class="fa-solid fa-align-left editoritems"></i>

                <i class="fa-solid fa-align-center editoritems"></i>

                <i class="fa-solid fa-align-right editoritems"></i>

            </div>

            <select class="editor-text-fonttype">
                <option value="font-formal">Font: Formal</option>
                <option value="font-impress">Font: Impress</option>
                <option value="font-elegant">Font: Elegant</option>
            </select>

            <select class="editor-text-size">
                <option value="font-16">Size: 16px</option>
                <option value="font-14">Size: 14px</option>
                <option value="font-12">Size: 12px</option>
            </select>

            <select class="editor-text-color">
                <option value="font-brown">Color: Brown</option>
                <option value="font-black">Color: Black</option>
                <option value="font-purple">Color: Purple</option>
            </select>

        </div>

        <textarea spellcheck="false" style="transition-duration: 0.4s;" class="food-a4">

        </textarea>
       
        
    
</div>




<script src="~/js/Partials/Editor.js" asp-append-version="true"></script>
