
*{
  font-family: 'Open Sans', sans-serif;

}

.food-main-wrapper {
    display: flex;
    height: 100%;
    background-color: transparent;
    padding: 0.2rem;
    border-radius: 0.4rem;

    .food-main {
        flex: 1;
        border-radius: 0.4rem;
        background-color: transparent;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;

      
        .food-filter {
          width: 100%;
          height:15%;
          display: flex;
          align-items: center;
          column-gap: 1rem;
          font-size: 0.9rem;
          border-top-left-radius: 0.4rem;
          border-top-right-radius: 0.4rem;
      
          .food-filter-form {
            height: 65%;
            margin: 0px;
            width: 12rem;
          
      
            .food-filter-select {
              height: 100%;
              cursor: pointer;
              width: 12rem;
              color: whitesmoke;
              background-color: transparent;
              border-radius: 0.4rem;
              font-size: 1rem;
              padding-left: 0.5rem;
              transition-duration: 0.2s;


            }

            .food-filter-select:focus{
              background-color: #E5E5E5;
              color: #2c3e50!important;
            }

            .food-filter-select:hover {
              background-color: #E5E5E5;
              color: #2c3e50;
              color: #34495e;
              transition-duration: 0.2s;

            }

        
          }

          .wrapper-links-food{
            height: 65%;
                  
            .btn-shopping{
              color: whitesmoke;
              background-color: transparent;
              border-radius: 0.4rem;
              font-size: 1rem;
              height: 100%;
              width: 6rem;

            }


            .btn-recipe{
              color: whitesmoke;
              background-color: transparent;
              border-radius: 0.4rem;
              font-size: 1rem;
              height: 100%;
              width: 6rem;

            }


            .btn-recipe:hover{
              background-color: #E5E5E5;
              color: #34495e;
              transition-duration: 0.2s;
              transform: scale(1.05);
            }

            
            .btn-shopping:hover{
              background-color: #E5E5E5;
              color: #34495e;
              transition-duration: 0.2s;
              transform: scale(1.05);

            }
          }
     
          .food-search-bar-wrapper {
            margin-left: auto;
            height: 65%;
            display: flex;
            column-gap: 1rem;
            align-items: center;
      

            .food-search-bar {
              height: 100%;
              width: 12rem;
              margin-left: auto;
              cursor: pointer;
              border-radius: 0.4rem;
              border: none;
              padding-left: 0.5rem;
              font-size: 1rem;
              transition-duration: 0.4s;
              color: whitesmoke;
              background-color: transparent;
              border-radius: 0.4rem;
            }   

            .food-search-bar:hover {
              background-color: #E5E5E5;
              color: #34495e;
              transition-duration: 0.2s;
              transform: scale(1.05);

            }

            .food-search-bar::placeholder {
              color: whitesmoke;

            }

            
            .food-search-bar:focus {
              color: #2c3e50;
              background-color: #E5E5E5;

            }

            .food-search-bar:hover::placeholder {
              color: #34495e;
            }

            .food-search-bar:focus::placeholder{
              color: transparent;
            }
      
      
            .food-search-bar:focus {
                  transition-duration: 0.2s;
                  width: 18rem;
                  outline: none;
                  padding-left: 0.5rem;

            }

      
          
          }      
        }
        
        .food-main-content {
          display: flex;
          flex-direction: column;
          transition-duration: 1s;
          align-items: center;
          height: 85%;

          .food-items-wrapper{
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            row-gap: 0.2rem;
            background-color: #ffffff;
            border-radius: 0.4rem;
            padding-top: 0.4rem;
            overflow: auto;
            overflow-x: hidden;
            width: 100%;
            padding-bottom: 0.4rem;
          

              .food-items {
                width: 99%;
                min-height: 3rem; 
                display: flex;
                align-items: center;
                transition-duration: 0.2s;
                border-radius: 0.2rem;
                justify-content: space-between;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                color: #2c3e50;
                background-color: transparent;
                position: relative;
                animation: slideIn 1s ease-in-out forwards;   
                      

          
                .food-items-finetune {
                  text-align: center;
                  margin: 0px;
                  padding-left: 1rem;
                }
          
                .food-items-settings{
                  display: flex;
                  justify-content: space-between;
                  column-gap: 2rem;
                  padding-right: 1rem;
                  font-size: 1.1rem;
                  height: 100%;
                  align-items: center;
          
                  a{
                      font-size: 1rem;
                      color:teal;
                      text-decoration: none;        
                      display: none;   
                      font-weight: 600;

                      p{
                        margin: 0px;
                        padding: 0px;
                      }

                  }

                  a:hover{
                    transform: scale(1.1);
                    transition-duration: 0.2s;
                  }
              
          
                }


             
              }
          
              .food-items:hover {
                transition-duration: 0.2s;
                box-sizing: border-box;
                color: whitesmoke;
                background-color: #34495e;

                p{
                  transform: scale(1.03);
                }
                
                a{
                  display: block;
                  color:whitesmoke;
                  text-decoration: none;        
                  
                  p{
                    margin: 0px;
                    padding: 0px;
                    transform: scale(1.02);   
                  }

                  p:hover{
                    text-decoration: underline;

                  }

              }  

              }
          }
          
          .food-items-wrapper::-webkit-scrollbar  {
              width: 10px;
          }
        
          .food-items-wrapper::-webkit-scrollbar-thumb{
            width: 1rem;
            background-color:#34495e;;
            border-radius: 0.4rem;
            height: 2rem;
          }
          
      
        }
      
       
    }


}


  
  