
*{
    box-sizing: border-box;   
}

.food-recipe-wrapper {
    background-color: transparent;
    height: 100%;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;

    .food-recipe-main{
        width: 100%;
        height: 100%;
        border-radius: 0.4rem;

        .food-tabs{
            width: 100%;
            height: 12%;
            display: flex;
            column-gap: 0.5rem;

            .food-tab-one{
                width: 10rem;
                height: 100%;
                display: flex;
                align-items: center;
                border-top-left-radius: 1rem;
                border-top-right-radius: 0.4rem;
                font-weight: 600;
                color: whitesmoke;
                transition-duration: 0.2s;
        

                .food-tab-innertext{
                    padding-left: 1.5rem;
                    padding-right: 0.5rem;
                    border-radius: 0.4rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }


            }

            .food-tab-one:hover{
           
                transition-duration: 0.2s;
                cursor: pointer;
            }

            .food-tab-two{
                width: 10rem;
                height: 100%;
                display: flex;
                align-items: center;
                border-top-left-radius: 1rem;
                border-top-right-radius: 0.4rem;
                font-weight: 600;
                color: whitesmoke;
                transition-duration: 0.2s;
              

                .food-tab-innertext{
                    padding-left: 1.5rem;
                    padding-right: 0.5rem;
                    border-radius: 0.4rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            
            .food-tab-two:hover{
        
                transition-duration: 0.2s;
                cursor: pointer;
            }

            .food-tab-three{
                width: 10rem;
                height: 100%;
                display: flex;
                align-items: center;
                border-top-left-radius: 1rem;
                border-top-right-radius: 0.4rem;
                font-weight: 600;
                color: whitesmoke;
                transition-duration: 0.2s;
              

                .food-tab-innertext{
                    padding-left: 1.5rem;
                    padding-right: 0.5rem;
                    border-radius: 0.4rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .food-tab-three:hover{
          
                transition-duration: 0.2s;
                cursor: pointer;

            }

            .update-food-btn{
                color: whitesmoke;
                border-radius: 0.4rem;
                border: none;
                font-size: 1rem;
                background-color: transparent;
                height: 80%;
                width: 6rem;
                margin-left: auto;
                margin-right: 1rem;
                margin-top: auto;
                margin-bottom: auto;
            }

            .update-food-btn:hover {
                background-color: transparent;
                color: whitesmoke;
                transition-duration: 0.2s;
                scale: (1.05);
            }
        }

        .food-ingredients{
            height: 88%;
            width: 100%;
            background-color: #dcdcdc; 
            border-bottom-right-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem ; 
            border-top-right-radius: 0.4rem;
            border-left: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-bottom: 1px solid #dcdcdc;
            display: none;

            .food-inner-content{
                flex: 1;
                margin: 1.5rem;
                border-radius: 0.4rem;
                border: 1px solid #B0B0B0;
                background-color: #E0E0E0;
                display: flex;
                flex-direction: column;

                .food-inner-menu {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    background-color: #dcdcdc;
                    height: 3rem;
                    border-bottom: 1px solid #B0B0B0;
                    border-top-left-radius: 0.4rem;
                    border-top-right-radius: 0.4rem;
                    z-index: 1;
                    
                    .food-current {
                        margin-right: auto;
                        margin-left: 1rem;
                        display: flex;
                        align-items: center;
                        color: #2c3e50;
                        font-weight: 600;

                        p{
                            margin: 0px;
                            padding: 0px;

                            i{
                                margin:0px;
                                padding: 0px;
                                color: teal;
                            }
                        }
                    }

                }

                .food-input-wrapper{
                    flex:1;
                    padding-top: 0.5rem;
                    overflow:auto;
                    overflow-x: hidden;
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5rem;
                    padding-bottom: 0.5rem;

                    .food-added-ingredient{
                        display: flex;
                        align-items: center;
                        min-height: 2rem;
                        margin-left: 0.2rem;
                        margin-right: 0.2rem;
                        border-radius: 0.2rem;
                        transition-duration: 0.4s;
                        animation: slideIn 1s ease-in-out forwards;         
                        position: relative;
                        min-height: 3rem;
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;

                        .food-added-para1{
                            margin: 0px;
                            padding: 0px;
                            min-width: 2%;
                            box-sizing: border-box;
                        }

                        .food-added-para2{
                            margin: 0px;
                            padding: 0px;
                            min-width: 3.33%;
                            box-sizing: border-box;
                        }

                        .food-added-para3{
                            margin: 0px;
                            padding: 0px;
                            width: 70%;
                            box-sizing: border-box;
                        }
                        .food-added-para4{
                            margin-left: auto;
                        }

                        .food-added-para4:hover{
                            cursor: pointer;
                        }

                    }

                    .food-added-ingredient:hover{
                        transition-duration: 0.2s;
                        color: whitesmoke;
                        font-size: 1rem;
                        background-color: #34495e;
                    }

                    .food-input-ingredient{
                        margin-bottom: 0.1rem;
                        background-color: #E0E0E0;
                        display: flex;
                        padding-top: 0.3rem;
                        padding-bottom: 0.5rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        column-gap: 1rem;
                        border-bottom: 1px solid #B0B0B0;    
                        position: sticky;
                        top: -10px;    
                        z-index: 10;                
              

                        .input-wrapper{
                            display: flex;
                            flex-direction: column;

                            label{
                                font-size: 0.7rem;
                                font-weight: 600;
                            }
                            
                            #a1:focus{
                                outline: none;
                            }

                            #a1{
                                height: 2.5rem;
                            }

                
                            #a2{
                                height: 100%;
                            }

                            #a2:focus{
                                outline: none;
                            }

                            #a3{
                                width: 15rem;
                                outline: none;
                                height: 2.5rem;
                            }

                            #a3:focus {
                                outline: none;
                            }

                        }

                        .input-wrapper:focus-within label{
                            color: #008080;
                            transition-duration: 0.3s;
                        }

                        .input-define{
                            width: 5rem;
                        }

                        #error-ingredient{
                            display: none;
                            font-size: 0.8rem;
                            font-weight: 600;
                            color:#FF0000;
                            margin: 0px;
                            padding: 0px;
                            margin-top: auto;
                            margin-bottom: 0.45rem;
                        }

                        #ingredient-submit-btn{
                            height:2.5rem;
                            border-radius: 0.2rem;
                            background-color: #2c3e50;
                            color: whitesmoke;
                            border: none;
                            display: flex;  
                            align-items: center;
                            align-self: flex-end;
                            justify-content: center;
                            margin-left: auto;    
                        }
                    }
                }

                .food-input-wrapper::-webkit-scrollbar  {
                    width: 10px;
                }
            
                .food-input-wrapper::-webkit-scrollbar-thumb{
                width: 1rem;
                background-color:#2c3e50;;
                border:1px solid whitesmoke;
                border-radius: 0.4rem;
                height: 2rem;
                }

            }

            
        }

        .food-instructions{
            height: 88%;
            width: 100%;
            background-color: #dcdcdc; 
            border-bottom-right-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem ; 
            border-top-right-radius: 0.4rem;
            border-left: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-bottom: 1px solid #dcdcdc;
            display: none;

            .food-inner-content{
                flex: 1;
                margin: 1.5rem;
                border-radius: 0.4rem;
                border: 1px solid #B0B0B0;
                background-color: #E0E0E0;
                display: flex;
                flex-direction: column;

                .food-inner-menu {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    background-color: #dcdcdc;
                    height: 3rem;
                    border-bottom: 1px solid #B0B0B0;
                    border-top-left-radius: 0.4rem;
                    border-top-right-radius: 0.4rem;
                    z-index: 1;
                    
                    .food-current {
                        margin-right: auto;
                        margin-left: 1rem;
                        display: flex;
                        align-items: center;
                        color: #2c3e50;
                        font-weight: 600;

                        p{
                            margin: 0px;
                            padding: 0px;

                            i{
                                margin:0px;
                                padding: 0px;
                                color: teal;
                            }
                        }
                    }

                }

                .food-instructions-content{
                    flex: 1;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5rem;

                    .food-instructions-input-wrap:focus-within label{
                        color: #008080;
                        transition-duration: 0.3s;
                    }

                    .food-instructions-input-wrap{
                        margin-left: 0.2rem;
                        margin-right: 0.2rem;
                        background-color: #E0E0E0;
                        border-radius: 0.2rem;
                        display: flex;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        column-gap: 1rem;
                        flex-direction: column;

                        label{
                            font-size: 0.7rem;
                            font-weight: 600;
                        }

                        #food-header{
                            outline: none;
                            height: 2.5rem;
                        }

                        #food-textarea{
                            resize: none;
                            outline: none;
                            height: 100%;
                        }

                        #food-select-budget{
                            outline: none;
                            height: 2.5rem;
                        }

                        #food-select-diet{
                            outline: none;
                            height: 2.5rem;
                        }
                        

                    }

                    .resize-maxheight{
                        height: 100%;
                    }
                }


            }

        }

        .food-images{
            height: 88%;
            width: 100%;
            background-color: #dcdcdc; 
            border-bottom-right-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem ; 
            border-top-right-radius: 0.4rem;
            border-left: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-bottom: 1px solid #dcdcdc;
            display: none;

            .food-inner-content{
                flex: 1;
                margin: 1.5rem;
                border-radius: 0.4rem;
                border: 1px solid #B0B0B0;
                background-color: #E0E0E0;
                display: flex;
                flex-direction: column;

                .food-inner-menu {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    background-color: #dcdcdc;
                    height: 3rem;
                    border-bottom: 1px solid #B0B0B0;
                    border-top-left-radius: 0.4rem;
                    border-top-right-radius: 0.4rem;
                    z-index: 1;
                    
                    .food-current {
                        margin-right: auto;
                        margin-left: 1rem;
                        display: flex;
                        align-items: center;
                        color: #2c3e50;
                        font-weight: 600;

                        p{
                            margin: 0px;
                            padding: 0px;

                            i{
                                margin:0px;
                                padding: 0px;
                                color: teal;
                            }
                        }
                    }

                }

                .food-images-content{
                    flex: 1;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    overflow: auto;
                    overflow-x: hidden;
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5rem;

                    .food-images-heading{
                        margin-left: 0.2rem;
                        margin-right: 0.2rem;
                        background-color: #E0E0E0;
                        border-radius: 0.2rem;
                        display: flex;
                        padding-top: 0.3rem;
                        padding-bottom: 0.3rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        align-items: center;
                        justify-content: space-between;
                       

                        p{
                            margin: 0px;
                            padding: 0px;
                            font-size: 0.8rem;
                            font-weight: 600;
                        }

                        button{                         
                            height:2.2rem;
                            border-radius: 0.2rem;
                            background-color: #2c3e50;
                            color: whitesmoke;
                            border: none;
                            display: flex;  
                            align-items: center;
                            align-self: center;
                            justify-content: center;
                            margin-left: auto;  
                        }

                        button:active{
                            transform: scale(1.05);
                        }

                        
                 

                   
                    }

                    .food-images-uploaded{
                        
                        display: flex;
                        padding-left: 0.2rem;
                        padding-right: 0.2rem;
                        padding-top: 0.2rem;
                        row-gap: 0.5rem;
                        column-gap: 2%;
                        flex-wrap: wrap;
                        width: 100%;

                        .food-image-container{
                            height: 11rem;
                            width: 11rem;
                            overflow: hidden;
                            border-radius: 0.2rem;
                            border: 1px solid #B0B0B0;
                            position: relative;
                            animation: rotateJiggle 1s ease-in-out;


                            img{
                                width: 100%;   
                                filter: brightness(1);
                            }

                            img:hover{
                                filter: brightness(1.1);
                                transition-duration: 0.4s;
                                cursor: pointer;
                            }

                            .delete-icon{
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                cursor: pointer;
                                transition: color 0.3s ease; /* Smooth color transition */

                                .fa-trash{
                                    font-size: 20px; /* Size of the X */
                                    color: whitesmoke; /* Default color of the X */
                                    background-color: teal;
                                    border-radius: 100%;
                                    padding: 10px;
                                }

                            }
                            .delete-icon:hover{
                                .fa-trash{
                                    transform: scale(1.1);
                                    transition-duration: 0.2s;
                                }
                            }

                         
                        }

                        .food-image-container:hover{
                            transform: scale(1.05);
                            transition-duration: 0.4s;
                            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */

                        }

                     

                      
                    }            

                    @keyframes rotateJiggle {
                        0% {
                            transform: rotate(0deg); /* Initial state */
                        }
                        25% {
                            transform: rotate(-2deg); /* Rotate slightly to the left */
                        }
                        50% {
                            transform: rotate(2deg);  /* Rotate slightly to the right */
                        }
                        75% {
                            transform: rotate(-2deg);  /* Rotate back to the left */
                        }
                        100% {
                            transform: rotate(0deg);   /* Settle back to the original position */
                        }
                    }

                }

                .food-images-content::-webkit-scrollbar  {
                    width: 10px;
                }
            
                .food-images-content::-webkit-scrollbar-thumb{
                width: 1rem;
                background-color:#2c3e50;;
                border:1px solid whitesmoke;
                border-radius: 0.4rem;
                height: 2rem;
                }

                


            }

        

        }



    }





}

