

.shopping-main {
    height: 100%;
    background-color: #2c3e50;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.089);
    border-radius: 0.4rem;
    padding: 0.2rem;
    
    .shopping-wrapper-main-content{
        height: 100%;
        width: 100%;

        .shopping-tabs {
            height: 12%;
            display: flex;
            column-gap: 0.5rem;

            .shopping-tabs-items{
                display: flex;
                align-items: center;
                cursor: pointer;
                border-top-left-radius: 1rem;
                border-top-right-radius: 0.4rem;
                width: 10rem;          
                font-weight: 600;
                background-color: #2c3e50; 
                color: whitesmoke;
                transition-duration: 0.2s;
            

                .shopping-tabs-text{
                    padding-left: 1.5rem;
                    padding-right: 0.5rem;
                    border-radius: 0.4rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .shopping-tabs-items:hover{
                background-color: #dcdcdc!important; 
                color: #2c3e50!important;
                transition-duration: 0.2s;
            }
            
        }

        .shopping-tab-content{
            height: 88%;
            display: none;
            background-color: #2c3e50;
            transition-duration: 0.2s;
            justify-content: center;
            border-bottom-right-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem ; 

            .shopping-tab-inner-content {
                flex:1;
                margin: 1.5rem;
                border-radius: 0.4rem;
                font-weight: 600;
                border: 1px solid #B0B0B0;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .shopping-tab-inner-menu {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    background-color: #dcdcdc;
                    min-height: 3rem;
                    border-top-left-radius: 0.4rem;
                    border-top-right-radius: 0.4rem;
                    border-bottom: 1px solid #B0B0B0;
                    
                    .shopping-current {
                        margin-right: auto;
                        margin-left: 1rem;
                        display: flex;
                        align-items: center;
                        color: #2c3e50;
                        margin-top: auto;
                        margin-bottom: auto;
                    }


                    .fa-plus {
                        cursor: pointer;

                    }

                    .create-cart-btn{
                        background-color: #dcdcdc;
                        color: #2c3e50;
                        border-radius: 0.4rem;
                        border: none;
                        border: 1px solid #B0B0B0;
                        font-size: 1rem;
                        height: 80%;
                        width: 10rem;
                        margin-right: 1rem;
                    }

                    .create-cart-btn:hover{
                        background-color: #E5E5E5;
                        border: 1px solid #34495e;
                        color: #34495e;
                        transition-duration: 0.2s;
                        transform: scale(1.05);
                    }

                }

                .shopping-tab-inner-content-input {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #E0E0E0;
                    flex-direction: column;
                    flex:1;

                    .shopping-tab-inner-content-input-deco{
                        display: grid;
                        grid-template-columns: 1fr 2fr 4fr;
                        column-gap: 1rem;
                        align-items: center;
                        width: 30rem;
                        border-radius: 0.4rem;
                        position: relative;
                        animation: slideIn 1s ease-in-out forwards;   
                        padding-left: 0.5rem;
                        padding-right: 0.5rem;
                        padding-top: 0.2rem;
                        padding-bottom: 0.5rem;   
                        background-color: #E0E0E0;

                        label{
                            font-size: 0.8rem;
                            font-weight: 600;
                        }

                        
                        .shopping-input-wrapper:focus-within label{
                            color: #008080;
                            transition-duration: 0.3s;
                        }

                        
                        .input-shopping-one{
                            border: none;
                            outline: none;
                            width: 100%;               
                            height: 2.5rem;         
                            color: #2c3e50;   
                            padding-left: 0.5rem;   
                            border: 1px solid #B0B0B0;

                        }

                        .input-shopping-two{
                            border: none;
                            outline: none;
                            width: 100%;               
                            height: 2.5rem;         
                            color: #2c3e50;       
                            padding-left: 0.5rem;   
                            border: 1px solid #B0B0B0;
                            overflow: auto;

                        }

                        .input-shopping-three{
                            border: none;
                            outline: none;
                            width: 100%;               
                            height: 2.5rem;         
                            color: #2c3e50;      
                            padding-left: 0.5rem;   
                            border: 1px solid #B0B0B0;

                        }


                        @keyframes slideIn {
                            0% {
                                opacity: 0;
                                left: -300px; /* Start off-screen */
                            }
                            60% {
                                opacity: 1;
                                left: 30px; /* Overshoot the final position */
                            }
                            80% {
                                left: -10px; /* Go past the final position */
                            }
                            100% {
                                left: 0; /* Final position */
                            }
                        }
                

                    }

                    @keyframes shake {
                        0% { transform: translateX(0); }
                        25% { transform: translateX(-10px); }
                        50% { transform: translateX(10px); }
                        75% { transform: translateX(-10px); }
                        100% { transform: translateX(10px); }
                      }


                    @keyframes slideInList {
                        0% {
                            opacity: 0;
                            left: -300px; /* Start off-screen */
                        }
                        60% {
                            opacity: 1;
                            left: 30px; /* Overshoot the final position */
                        }
                        80% {
                            left: -10px; /* Go past the final position */
                        }
                        100% {
                            left: 0; /* Final position */
                        }
                    }

                
                    
                    @keyframes popIn {
                        0% {
                            opacity: 0;
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }


                }

                .shopping-tab-inner-content-input::-webkit-scrollbar  {
                    width: 5px;
                }
            
                .shopping-tab-inner-content-input::-webkit-scrollbar-thumb{
                width: 1rem;
                background-color: #2c3e50;
                height: 2rem;
                }


                .shopping-current-list{
                    background-color: #E0E0E0;
                    border-bottom-left-radius: 0.4rem;
                    border-bottom-right-radius: 0.4rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 1rem;
                    row-gap: 1rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    overflow: scroll;
                    overflow-x: hidden;
                    height: 100%;       


                    .cart-divs {
                        height: 10rem;
                        width: auto;
                        position: relative;
                        animation: slideIn 1s ease-in-out forwards;  
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;


                        .cart-divs-header{
                            display: flex;
                            align-items: center;
                            padding-left: 0.7rem;
                            flex: 1;
                            border-right: 1px solid #B0B0B0;
                            border-left: 1px solid #B0B0B0;
                            border-top: 1px solid #B0B0B0;
                            background-color: #E0E0E0!important;

                            
                            p{
                                margin: 0px;
                                padding:0px;
                                padding-top: 0.1rem;
                                padding-bottom: 0.1rem;
                                font-size: 1rem;
                            }
                        }

                        .cart-div-main{
                                overflow: auto;
                                overflow-x: hidden;
                                height: 8rem;
                                background-color: #E0E0E0;
                                border: 1px solid #B0B0B0;
                                
                                    .cart-divs-paragraphs{
                                    margin: 0px;
                                    padding: 0px;
                                    padding-left: 0.5rem;
                                    display: flex;
                                    align-items: center;
                                    border-radius: 0.2rem;
                                    margin-left: 0.2rem;
                                    margin-right: 0.2rem;
                                    margin-top: 0.2rem;
                                    font-weight: 500;
                                }   

                                .cart-divs-paragraphs:hover{
                                    background-color: #2c3e50;
                                    background-color: #E5E5E5;
                                    color: teal;
                                    box-sizing: border-box;
                                }

                        @keyframes slideIn {
                            0% {
                                opacity: 0;
                                left: -300px; /* Start off-screen */
                            }
                            60% {
                                opacity: 1;
                                left: 30px; /* Overshoot the final position */
                            }
                            80% {
                                left: -10px; /* Go past the final position */
                            }
                            100% {
                                left: 0; /* Final position */
                            }
                        }
                        }

                    
                    }

                    
                    .cart-div-main::-webkit-scrollbar{
                        width: 10px;
                    }
                
                    .cart-div-main::-webkit-scrollbar-thumb{
                    width: 1rem;
                    height: 2rem;
                    color: #E0E0E0;
                    background-color: #2c3e50;
                    border-radius: 0.4rem;
                    margin-left: 1px;
                    margin-right: 1px;
                    }
                  
                }
                
                .shopping-current-list::-webkit-scrollbar{
                    width: 10px;
                }
            
                .shopping-current-list::-webkit-scrollbar-thumb{
                width: 1rem;
                height: 2rem;
                color: #E0E0E0;
                background-color: #2c3e50;
                border-radius: 0.4rem;
                }
            
            }


        }

    }
  

}