<header class="header">

    <nav class="header-nav">

        <div class="header-left-container">

            <a asp-action="index" asp-controller="home">
                Foodplanner
            </a>

        </div>
        
        <div class="header-right-container">

            <input placeholder="Search..." id="header-input" type="search"/>            

            @if(Context.Items["User"] == null){
                <a asp-action="SignInView" asp-controller="Auth">
                    <i class='fa-solid fa-right-to-bracket header-button'></i>
                </a>
            }

            @if(Context.Items["User"] != null){
                <a asp-action="ClearCookie" asp-controller="home">
                    <i class='fa-solid fa-right-from-bracket header-button'></i>
                </a>
            }

        </div>

    </nav>

</header>

