.create-page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;

    .create-wrapper {
        width: 100%;

        .create-header-wrapper {
            width: 100%;
            
            h2 {
                color: #333;
            }

            p {
                color: #333;
            }
        }

        .create-recipe-form {
            display: flex;
            flex-direction: column;

            .form-group {
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;
                padding-bottom: 1rem;

                label {
                    display: block;
                    font-weight: 500;
                    color: #555;
                }

                input[type="text"],
                input[type="file"],
                textarea {
                    width: 100%;
                    padding: 0.5rem;
                    border: 1px solid #ddd;
                    border-radius: 1rem;
                    font-size: 1rem;
                    outline: 2px solid transparent;

                    &:focus {
                        outline: 2px solid green;
                        outline-offset: 0.2rem;
                    }
                }

            }

            .submit-btn {
                background-color: green;
                color: white;
                padding: 1rem;
                border: none;
                border-radius: 1rem;
                cursor: pointer;
                font-size: 1.1rem;
                font-weight: 500;
                transition: background-color 0.3s;
 
            }
        }
    }
}